@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* affects every element */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif, Arial;
}

body {
    color: white;
    background-color: #222222;
}

#hidden {
    display: none;
}

#start {
    display: grid;
    place-items: center;
    border: 0;
    outline: 0;
    z-index: 7;
    padding: 20%;
}

.start_button {
    cursor: pointer;
    position: relative;
    padding: 22px 46px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background: rgba(255, 255, 255, .1);
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #4a81ef,
        #ea5ee1,
        #ffd079,
        #ff7979,
        #ea5ee1,
        #4a81ef
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 10s infinite linear reverse;
    
}

@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

.start_button::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(50px);
    opacity: 0;
    transition: .4s 'ease-out';
}

.start_button::before {
    opacity: 1; 
    z-index: 6;
}

#header {
    width: 100%;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 60px;
    font-weight: bold;
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #690083;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}



@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
}

h1 > .magic-text{
    animation: background-pan 3s linear reverse infinite;
    background: linear-gradient(
        to right,
        rgb(123, 31, 162),
        rgb(124, 82, 198),
        rgb(244, 124, 164),
        rgb(123, 31, 162)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.logo {
    animation: background-pan 3s linear forwards infinite;
    background: linear-gradient(
        to right,
        rgb(63, 8, 125),
        rgb(110, 4, 167),
        rgb(178, 15, 211),
        rgb(63, 8, 125)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

#home {
    padding: 150px 0;
}

.header-text {
    font-size: larger;
    padding: 50px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-col-1 {
    flex-basis: 55%;
}

.home-col-2 {
    flex-basis: 40%;

}

.home-col-2 img{
    width: 100%;
    border-radius: 10px;
    
}

#about {
    padding: 150px 10%;
}

.sub-title {
    text-align: center;
    font-size: 30px;
}

.about-text {
    background-color: #37363682;
    padding: 20px;
    margin-top: 50px;
}

.about-content {
    font-size: 18px;
    padding: 5px;
    padding-bottom: 30px;
    text-align: center;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #7d7d7d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active::after {
    width: 50%;
}

