@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* affects every element */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif, Arial;
}

body {
    color: white;
    background-color: #222222;
}

#hidden {
    display: none;
}

#start {
    display: grid;
    place-items: center;
    border: 0;
    outline: 0;
    z-index: 7;
}

.start_button {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 22px 46px;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background: rgba(255, 255, 255, .1);
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
    transition: .4s;
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #4a81ef,
        #ea5ee1,
        #ffd079,
        #ff7979,
        #ea5ee1,
        #4a81ef
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 10s infinite linear reverse;
    
}

@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

.start_button::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(60px);
    opacity: 0;
    transition: .4s 'ease-out';
}

.start_button::before {
    opacity: 1; 
    z-index: 6;
}

#header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 60px;
    font-weight: bold;
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #690083;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}